* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  height: 100%;
  line-height: 1.4;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  background: #060606;
}

::-webkit-scrollbar-track {
  /*background: #f1f1f1;*/
  background: transparent!important;
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background: #b1b1b1;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}
